* {
    color: white;
}

#LiveCSSEditor-code {
    width: 300px !important;
    height: 200px !important;
}

a {
    text-decoration: none !important;
}

body {
    background-color: rgb(14, 21, 31);
}

@media (max-width:991px) {
    #page2 {
        background: #141e2c;
        height: auto;
        min-height: 320px;
        padding: 40px 14%;
        width: 100% !important;
        overflow-x: hidden !important;
        max-width: 100% !important;
    }

    .header_nav_mobile_triggle {
        opacity: 0;
    }

    .page-view .page-content .layout .layout-ceiling {
        position: relative !important;
    }

    .chat-bot-icon {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    #pagetips {
        display: none !important;
    }

    .banner-panel .activity-list {
        min-width: unset;
    }

    .banner-panel p {
        display: none;
    }

    .banner-panel {
        height: unset;
    }

    .banner-panel .activity-list {
        position: relative;
    }

    .banner-panel {
        height: unset !important;
    }

    .banner-panel .activity-list {
        position: relative !important;
        padding-top: 10px;
        padding-bottom: 35px;
    }

    .banner-panel .activity-list .swiper-container .swiper-wrapper .activity-item {

        display: flex;
        width: 100%;
        justify-content: center;
    }

    .banner-panel .activity-list {
        min-width: 100% !important;
    }

    .banner-panel .activity-list .swiper-container {
        max-height: unset !important;
    }

    .banner-panel .activity-list .swiper-container .swiper-wrapper .activity-item img {
        max-width: 100% !important;
        border-radius: 10px !important;
    }

    .banner-panel .activity-list .swiper-container {
        width: 95% !important;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 20px !important;
    }

    .page-view .page-content .layout .layout-ceiling {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .ws-sec-1 {
        background-color: #141E2B;
        border-top: 8px solid #0e151f;
        border-bottom: 8px solid #0e151f;
    }

    .text-danger-1 {
        color: red !important;
    }

    .page-content {
        padding-bottom: 0px !important;
    }

    .ws-spin-wrap {
        position: relative;
    }

    .ws-spin-wrap-slide {
        position: absolute;
        bottom: 9px;
    }

    .ws-mobile-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #141E2B;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .login_form {
        background: none !important;
    }

    .login_form .login_right {
        background-color: transparent !important;
        border: none !important;
        top: 40% !important;
        width: 100% !important;
        margin-left: unset !important;
        margin-top: -252px !important;
        left: unset !important;
        padding: 20px !important;
    }

    .h-one {
        background-color: red !important;
    }

    .layout-logo img {
        width: 150px;
        padding-top: 6px;
    }

    .text-warning {
        fill: rgb(255, 193, 7) !important;
        color: rgb(255, 193, 7) !important;
    }

    .ivu-form {
        display: flex;
        flex-direction: column;
    }

    .login_btn {
        margin-top: 50px;
    }

    .text-success {
        color: rgb(0, 224, 101) !important;
    }

    .ivu-form-item-error .ivu-input-group-append,
    .ivu-form-item-error .ivu-input-group-prepend,
    .ivu-input-group-append,
    .ivu-input-group-prepend {
        background-color: #17212e !important;
        border-bottom: 1px solid #27313e !;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .exchange {
        padding-top: 0px !important;
    }

    .exchange .main .right[data-v-7c77433b] {
        flex: 0 0 100% !important;
    }

    .sc_filter {
        display: flex;
    }

    .sc_filter span {
        flex: 1;
        text-align: center;
    }

    .sc_filter span.active {
        color: #f0a70a;
    }

    .ws-exchange-head {
        background-color: #192330;
    }

    .exchange .main {
        margin-top: 1px !important;
    }

    .exchange .main .center {
        flex: 0 0 100% !important;
    }

    .price-cny {
        padding-top: 10px;
        font-size: 14px;
        opacity: .7;
    }

    .ws-ex-symb-text {
        font-size: 12px;
        opacity: .7;
        padding-top: 8px;
    }

    .exchange .main .left {
        flex: 0 0 100% !important;
    }

    .exchange .main {
        flex-wrap: wrap;
        position: relative;
    }

    .ws-sell-buy {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #192330;
        padding: 5px 5px;
        z-index: 100;
    }

    .ws-sell-buy button {
        border-radius: 0;
    }

    .exchange {
        padding: 0 !important;
    }

    .exchange .ivu-icon-ios-star {
        display: none !important;
    }

    .exchange .main .right {
        flex: 0 0 100% !important;
    }

    .ws-exchange-parent .ivu-icon.ivu-icon-ios-star-outline {
        display: none !important;
    }

    .exchange {
        background-color: #13161D !important;
    }

    .exchange .main .right .coin-menu {
        background-color: unset !important;
    }

    .exchange .ivu-table {
        background-color: unset !important;
    }

    .exchange .ivu-table-wrapper .ivu-table .ivu-table-row td {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .ws-exchange-parent .ivu-table-header {
        display: none;
    }

    .exchange .ivu-table-cell .sell {
        color: white !important;
        background-color: #f15057;
        font-size: 11px;
        padding: 1px 5px;
        border-radius: 2px;
    }

    .exchange .ivu-table-cell .buy {
        color: white !important;
        background-color: #00b275;
        font-size: 11px;
        padding: 1px 5px;
        border-radius: 2px;
    }

    .ws-mobile-nav img {
        width: 15px;
        margin-top: 2px;
        filter: invert(.7) grayscale(1);
    }

    .ws-mobile-nav-title {
        font-size: 12px;
        padding-top: 3px;
        opacity: .7;
    }

    .ws-mobile-nav .router-link-active .ws-mobile-nav-title {
        color: #f0a70a;
        opacity: 1;
    }

    .ws-mobile-nav .router-link-active img {
        filter: invert(0) grayscale(0);
    }

    .ws-sell-buy-tabs {
        display: flex;
        align-items: center;
        margin: 7px;
        position: relative;
        z-index: 1;
    }

    .ws-sell-buy-tabs span {
        flex: 1;
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
        background-color: gray;
        position: relative;
        z-index: 1;
        color: rgb(197, 197, 197);
    }

    .ws-sell-buy-tabs div {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #192330;
        width: 100%;
        height: 100%;
        transform: scale(0.99, 0.95);
        z-index: -1;
    }

    .ws-sell-buy-tabs .buys {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .ws-sell-buy-tabs .buys div {
        clip-path: polygon(0 0, 99.5% 0, 90% 100%, 0% 100%);
    }

    .ws-sell-buy-tabs .selles {
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);

    }

    .ws-sell-buy-tabs .selles div {
        clip-path: polygon(9% 0%, 100% 0%, 100% 100%, .5% 100%);
    }

    .ws-sell-buy-tabs .buys.active {
        background-color: #00B275;
    }

    .ws-sell-buy-tabs .selles.active {
        background-color: #F15057;
    }

    .trade_bd .panel {
        width: 100% !important;
        padding: 15px 0px !important;
    }

    .trade_bd {
        padding: 0 5px !important;
    }

    .trade_panel {
        padding: 5px !important;
        padding-bottom: 20px !important;
    }

    .exchange .slider-wrap {
        margin: 30px 7px 16px 13px !important;
    }

    .trade_wrap .ivu-input {
        background-color: transparent;
        border: 1px solid gray;
    }
}

@media screen and (max-width: 768px) {
    .activity-item img {
        width: 100% !important;
        height: unset !important;
    }
}